.filter__date-input {
  background-color: #1eb7ee;
  background-image: url('https://chic-banoffee-85a54a.netlify.app/static/media/calendar-icon.07db79a7718be6f26219.svg');
  background-position: 44% 47%;
  background-repeat: no-repeat;
  background-size: 120px 120px;
  border: none;
  border-radius: 5px;
  font-size: 200px;
  height: 40px;
  outline: none;
  width: 40px;
}
