.container-admin {
  display: flex;
  align-items: center;
  height: 75vh;
}

.admin-panel {
  width: 20%;

  margin-top: 30px;
  align-items: center;
}

.render-item {
  width: 100%;
  max-width: 70vw;
  margin-top: 180px;
  margin-left: 20px;
}
