.board__content {
  background-color: #fff;
  border-radius: 60px 60px 0 0;
  overflow: hidden;
  width: 1120px;
  height: 480px;
  margin: 0 auto;
}

.filter {
  min-height: 140px;

  &__buttons-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    background-color: #05b8ff;
    border: none;
    border-radius: 0 60px 0 0;
    cursor: pointer;
    font-family: Open Sans, sans-serif;
    font-size: 24px;
    font-weight: 600;
    height: 60px;
    padding: 0 135px 0 0;
    position: absolute;
    text-align: end;
    top: 0;
    transition: 0.3s ease-in-out;
    width: 55%;
    color: #fff;

    &::before {
      background: url(https://www.pngkey.com/png/full/138-1382606_icon-airplane-icon-blue-png.png)
        no-repeat 50%;
      background-size: contain;
      content: '';
      display: block;
      height: 30px;
      left: 285px;
      position: absolute;
      top: 16px;
      width: 30px;
      transition: filter 0.3s ease;
      filter: brightness(0%) invert(100%);
    }

    &:last-child::before {
      left: 130px;
      transform: rotate(90deg);
    }
  }

  &__button_current {
    background-color: #fff;
    color: #1eb7ee;

    &::before {
      filter: brightness(0) saturate(100%) invert(54%) sepia(95%)
        saturate(1000%) hue-rotate(185deg) brightness(100%);
    }
  }

  &__button:last-child {
    border-radius: 60px 0 0 0;
    padding: 0 0 0 180px;
    right: 0;
    text-align: start;
  }

  &__date-wrapper {
    display: flex;
    height: 130px;
    padding: 77px 20px 0;
    width: 1200px;
  }

  &__date-input-label {
    margin-right: 30px;
  }

  &__date-buttons {
    display: flex;
    height: 100%;
    width: 300px;
  }

  &__date-button {
    border-bottom: 3px solid #d0d0d0;
    color: #b8b9b9;
    cursor: pointer;
    text-align: center;
    transition: 0.3s ease-in-out;
    width: 100px;
  }

  &__date-button_current {
    border-bottom: 3px solid #1eb7ee;
    color: #1eb7ee;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }

  &__message {
    font-size: 30px;
  }
}

