.posts-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 0 0 0;
}

.posts-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.post-card {
}

.post-card .MuiCardMedia-root {
  height: 140px;
  object-fit: cover;
}

.post-card .MuiCardContent-root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  box-sizing: border-box;
}

.post-card .MuiButton-root {
  align-self: flex-start;
  margin-top: 16px;
}

@media (max-width: 1024px) {
  .posts-block {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .posts-block {
    grid-template-columns: 1fr;
  }
}
